body {
    background: grey;
    background: url(https://cdn.pixabay.com/photo/2017/10/11/16/45/cave-2841619__340.jpg) no-repeat center center fixed;
        background-size: cover;
    color: white;
    font-family: 'Philosopher', sans-serif;
    height:100vh;
    width: 100vw;
}
.container {
    align-items: center;
    width: 100%;
    position: relative;   
}
.gamename {
    color: blue;
    font-size: 90px;
    justify-content: center;
    margin: auto;
    text-align: center;
    width:100%;
}
.instructions {
    color: white;
    background-color: black;
    border: 2px solid black;
    font-size: 18px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 30px;
    text-align: left;
    width: 768px;
}
.list {
    color: white;
    font-size: 18px;
    text-align: left;
}
.number-guess, .score {
    font-size: 40px;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 768px;
}
.stats {
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    padding:20px;
    text-align: center;
    width: 768px;
}
.crystals-css {
    justify-content: center; 
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 768px;
}
.crystal-value {
    cursor: pointer;
    height: 100px; 
    width: 100px;
}
.crystal-value.one {
    background-image: url('./images/emerald.jpg');
    background-size: 100%;
}
.crystal-value.two {
    background-image: url('./images/sapphire.jpg');
    background-size: 100%;
}   
.crystal-value.three {
    background-image: url('./images/Citrine.jpg');
    background-size: 100%;
}
.crystal-value.four {
    background-image: url('./images/diamond.jpg');
    background-size: 100%;
}         
